.primary-color{
color: $primary-color;
}

.secondary-color{
color: $secondary-color;
}

 .alert-color{
color: $alert-color;
}

.success-color{
color: $success-color;
}

.warning-color{
color: $warning-color;
}

.info-color{
color: $info-color;
}

.oak-leaf{
color: $oak-leaf;
}

.green-parrot{
color: $green-parrot;
}

.avenue-blue{
color: $avenue-blue;
}