// Non-modular or client styles for the .l-content region.
 
.main{
margin-top: 8px;
margin-bottom: 8px;
padding:13px;


}

.front .l-main .field-content a{
padding-top: 8px;
display: inline-block;
}
